.pageContent {
    margin: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.materialAppBar {
    height: 64px;
    line-height: 64px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    background-color: #FF5722;
}

.materialAppBar .materialAppBarTitle {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin-left: 16px;
    font-size: 24px;
}

/*
 Portrait mobile specific styles here
 */
@media screen and (max-width: 767px) and (max-height: 1023px) and (orientation: portrait) {
    .materialAppBar {
        height: 56px;
        line-height: 56px;
    }

    .materialAppBar .materialAppBarTitle {
        font-size: 20px;
    }
}

/*
 Landscape mobile specific styles here
 */
@media screen and (max-width: 1023px) and (max-height: 767px) and (orientation: landscape) {
    .materialAppBar {
        height: 48px;
        line-height: 48px;
    }

    .materialAppBar .materialAppBarTitle {
        font-size: 16px;
    }
}

.materialInput {
    padding: 4px;
}

.materialInput span {
    width: 100px;
    display: inline-block;
}

.materialInput input {
    width: 40px;
}

tbody th {
    text-align: left;
}

thead th {
    padding-left: 6px;
    padding-right: 6px;
}
